<h1><%= @task.title %></h1>
<button type="button" class="btn btn-successs"><%= link_to "Go back to the homepage",  tasks_path %></button>
<button type="button" class="btn btn-successs"><%= link_to "Update a Task", editrestaurant_path(@task) %></button>
